body
{
background-color:green;
}


b{
}
#wrapper
{
display:grid;
grid-template-columns: repeat(3, 1fr);
/* grid-template-rows: repeat(5,1fr); */
grid-gap: 1em;
}

/*img binnen container*/
#wrapper img
{
max-width: 100%;
}
/*
